



.productWrap{
    width: 22%;
    height: 393px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    background: #1c1e1f;
    position: relative;
    border-radius: 10px;
}
.picBlockWrap{
  
    position: relative;

}
.productPic{
    width: 100%;
    height: 161.5px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}
.prodLike{
    width: 30px;
    height: 30px;
    background: #0f0b08;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  top: 5%;
  left: 85%;
  cursor: pointer;
}
.prodLikeLink{
    width: 30px;
    height: 30px;
    background: #0f0b08;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 33%;
  left: 85%;
  cursor: pointer;
}
.likeStyle{
    font-size: 1.1em;
    color: #b2bbbd;
}
.descriptionWrap{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    align-items: flex-start;
    justify-content: space-between;
}
.productName{
    font-family: 'Raleway', sans-serif;
  margin-top: 0;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
}
.productDescription{
    font-family: 'Raleway', sans-serif;
  font-size: 0.7em;
    color: white;
}
.pWeigthProduct{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    
    font-weight: bold;
      color: white;
}
.priceWrapCard{
    border-top: 1px solid #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
}
.prodPriceFull{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    
    font-weight: bold;
      color: #fff500;
}
.inCart{
    font-family: 'Raleway', sans-serif;
  font-weight: bold;
    color: white;
    font-size: 0.9em;
    cursor: pointer;

}
.productBigWrap{
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
 
  display: flex;
  justify-content: center;
  z-index: 3;
}
.prodBigWrapProd{
  margin-top: 30px;
  position: relative;
  width: 60%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background: black;
  
  z-index: 4;
}
.closeBigProd{
  position: absolute;
  font-size: 2em;
  top: 4%;
  right: 4%;
  color: white;
  cursor: pointer;
}
.pictureProductBig{
  width: 100%;
  height: 438px;
  border-radius: 20px;
}
.nameProdutBig{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
    color: white;
}
.prodDescriptionBig{
  font-family: 'Raleway', sans-serif;
  
    color: white;
}
.pWeigthProductBig{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
    color: white;
}
.fullPriceCountWrap{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summaWrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.countWrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sumaProdBig{
  font-family: 'Raleway', sans-serif;
 font-weight: bold;
    color: grey;
}
.sumaProdBigPrice{
  font-family: 'Raleway', sans-serif;
 font-weight: bold;
    color: #fff500;
}
.counterWa{
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countButton{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #fff500;
  color: black;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}
.theSameCount{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  margin-left: 8px;
  margin-right: 8px;
}
.wrapButtonOreder{
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid #282828;
}
.buttonOrder{
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: #fff500;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: bold;
}